// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'register';
@import 'profile';
@import '_welcome';

*{
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
}

input {
	border-radius: 0.7rem !important;
}

select {
    border-radius: 0.7rem !important;
}

.btn-blue {
	background-color: #394C65; 
	color: #FFFFFF !important;

    &:hover {
        background-color: #273344;
    }
}

.btn-red {
    background-color: #ff2f6d;
    color: #FFFFFF !important;

    &:hover {
        background-color: #fb004b;
    }
}

.full-height {
	height: 100vh;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.position-ref {
	position: relative;
}

.top-right {
	position: absolute;
	right: 10px;
	top: 18px;
}

.content {
	text-align: center;
}

.title {
	font-size: 70px;
}

.m-b-md {
	margin-bottom: 30px;
}
