.profile-info {
	font-size: 1.5rem;
	background-color: #FFFFFF;
	border: 2px solid #B8D2F4;
  	border-radius: 12px;
  	padding: 1rem;

  	li {
  		margin: 1.5rem;
  	}

  	.label {
  		font-size: 1.5rem;
  		color: #E4E4E4;
  	}
}